@font-face
	font-family SignPainter
	src url(../fonts/SignPainter.ttf)

@font-face
	font-family SFTextRegular
	src url(../fonts/SFText-Regular.otf)

@font-face
	font-family SFRegular
	src url(../fonts/SFRegular.otf)

@font-face
	font-family SFDisplaySemibold
	src url(../fonts/SFDisplay-Semibold.otf)

@font-face
	font-family SFDisplayRegular
	src url(../fonts/SanFranciscoDisplay-Regular.otf)

@font-face
	font-family SFDisplayLight
	src url(../fonts/SanFranciscoDisplay-Light.otf)

@font-face
	font-family AvenirNextRegular
	src url(../fonts/avenir/AvenirNextLTPro-Regular.otf)

@font-face
	font-family AvenirBook
	src url(../fonts/avenir/Avenir-Book.ttf)