:root 
  --baseColor : blue
  --painter : painter


@font-face
  font-family: --painter 
  src: src("fonts/SingPainter.ttf")

body
  background-color: var(--baseColor)

.logo
  h1 
    font-family: var(--painter)
